                    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        font-family: "Poppins", sans-serif;
                    }

                    :root {
                        --orange-clr: #E96C28;
                        --white-clr: #FFF;
                        --black-clr: #000;
                        --gray-clr: #636363;
                        --light-clr: #C4C4C4;
                        --dawn-pink: #FAE7E5;
                        --frosted-mint: #DCFEF9;
                    }

                    /* Header Parts */

                    .logo-txt {
                        font-size: 1.5rem;
                        color: var(--orange-clr);
                        font-weight: bold;
                    }

                    a {
                        text-decoration: none;
                    }

                    span {
                        color: var(--black-clr);
                    }

                    .navlist {
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                    }

                    li {
                        list-style: none;
                    }

                    .navlinks {
                        color: var(--black-clr);
                        font-weight: 500;
                    }

                    .active,
                    .navlinks:hover {
                        color: var(--orange-clr);
                        transition: 0.4s;
                    }



                    .icons-link {
                        background: var(--orange-clr);
                        width: 2.3rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        margin-right: .5rem;
                        display: inline-block;
                        text-align: center;
                        line-height: 2.3rem;
                        transition: .3s ease-in-out;
                    }

                    .icons-link:hover {
                        transform: translateY(-10%);
                    }

                    .fa-solid,
                    .fa-brands {
                        font-size: 1.1rem;
                        color: var(--white-clr);
                    }

                    header {
                        height: 13vh;

                    }

                    .navbar {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 100%;

                    }

                    .container {
                        width: 80%;
                        margin: auto;
                    }

                    .hamburger {
                        cursor: pointer;
                        display: none;
                    }

                    .burger {
                        background: var(--black-clr);
                        width: 2.3rem;
                        height: .25rem;
                        margin: .3rem;
                        border-radius: 2rem;
                    }

                    /* Section Parts */
                    /* hero-section */

                    .hero-section {
                        height: calc(100vh - 13vh);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .content {
                        flex: 1;
                    }

                    .img-conteiner {
                        flex: 1;
                        position: relative;
                    }

                    .img-conteiner::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        background: var(--dawn-pink);
                        width: 35rem;
                        height: 30vh;
                        border-radius: 50%;
                        z-index: -1;
                        filter: blur(100px);
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }

                    h1 {
                        font-size: 3.5rem;
                        line-height: 4rem;
                        margin-top: 1rem;
                    }

                    .whatch {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }

                    p {
                        color: var(--gray-clr);
                        margin-block: 1.5rem;
                        max-width: 500px;
                    }

                    .btn-continer {
                        display: flex;
                        gap: 1.5rem;
                    }

                    button,
                    .form-btn {
                        background: var(--orange-clr);
                        color: var(--white-clr);
                        border: .1rem solid var(--orange-clr);
                        padding: .55rem 1.5rem;
                        border-radius: 5rem;
                        font-size: 1rem;
                    }

                    [data-type='borderd-btn'] {
                        background: transparent;
                        color: var(--orange-clr);
                    }
                    .mint-glow{
                        position: relative;
                    }
                    .mint-glow::before{
                        content: "";
                        position: absolute;
                        top: -5%;
                        left: -5%;
                        width: 20rem;
                        height: 100%;
                        background: var(--frosted-mint);
                        border-radius:50% ;
                        z-index: -1;
                        filter: blur(150px);
                    }

                    /* <!-- Store section --> */

                    .other-section {
                        padding-block: 5rem;
                    }

                    .row-conteiner {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 5rem;
                    }

                    .column-canteiner {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    h2 {
                        font-size: 1.8rem;
                    }

                    [ data-type="centerd-txt"] {
                        text-align: center;
                        max-width: 600px;
                        margin-block: .5em;
                    }

                    .card-conteiner {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2rem;
                        margin-top: 2rem;
                        width: 100%;
                    }

                    .card {
                        width: 15rem;
                        text-align: center;
                        border-radius: 1rem;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        transition: .2s ease-in-out;
                    }

                    .card:hover {
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, .3) 0px 8px 16px -8px;
                    }

                    .row-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 4.5rem;
                    }

                    /* <!-- Featured Food --> */

                    h4 {
                        font-weight: 600;
                    }

                    [ data-type="category"] {
                        padding-block: 2.5rem;
                    }

                    [data-type="item"] {
                        padding-bottom: 1.5rem;
                        overflow: hidden;
                    }

                    .image-part img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .detail {
                        margin-top: 1rem;
                    }

                    /* <!-- App section --> */

                    .app-img {
                        display: flex;
                        gap: 1rem;
                        width: 100%;
                        height: 4rem;
                    }

                    .app-img img {
                        width: 180px;
                        /* هم‌سایز */
                        height: 55px;
                        object-fit: contain;
                        border-radius: 12px;
                        /* گوشه‌های گرد */
                        background: #000;
                        /* برای PNG شفاف */
                        padding: 6px 10px;
                        transition: all 0.3s ease;
                    }

                    /* افکت هاور */

                    .app-img img:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }

                    /* <!-- Best Food section --> */

                    .rating img {
                        width: 6rem;
                    }

                    .rating h4 {
                        color: var(--orange-clr);
                        font-size: 1.3rem;
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        margin-top: 1rem;
                    }

                    /* <!-- NewsLatter section --> */

                    .form-canteiner {
                        margin-top: 1.2rem;
                        border: .02rem solid var(--light-clr);
                        height: 3.5rem;
                        border-radius: 5rem;
                        padding: .25rem;
                    }

                    input[type="email"] {
                        height: 100%;
                        border-radius: 5rem 0 0 5rem;
                        border: none;
                        font-size: 1rem;
                        padding-left: 1rem;
                    }

                    input:focus {
                        outline: none;
                    }

                    /* footer section */
                    footer{
                        margin-bottom: 1em;
                        isolation: isolate;
                    }
                    .footer-links {
                        font-size: .95rem;
                        color: var(--gray-clr);

                    }

                    .footer-list {
                        margin-top: 2rem;
                    }

                    .footer-list li {
                        margin-block: .5rem;
                    }

                    [data-type="balanced-txt"] {
                        max-width: 300px;
                    }

                    footer .card-conteiner {
                        justify-content: space-between;
                    }
                    .footer-links:hover{
                        color: var(--orange-clr);
                    }
                    .line{
                        width: 100%;
                        height: .09rem;
                        background: var(--light-clr);

                    }
                    .line h4{
                        margin-block:2rem ;
                        text-align: center;
                    }
                    /* Media QuriesL */
                    @media screen {
                        
                    }